/* custom-styles.scss */
article.card-content {
    display: flex;
    
}

/* Card image container */
.card-image {
  flex: 0 0 30%; /* 保持图片容器的宽度 */
  padding: 20px;
  align-items: center;
  max-width: 30%;
  background-size: cover;
  background-position: center;
}

.card-image img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.card-image img {
  width: 100%;
  height: auto;
  margin-left: 10px;
  transition: transform 0.5s ease;
}

.card-image img:hover {
  transform: scale(1.2);
}

/* Card content container */
.card-body {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card-content {
    font-size: 14px; /* 适用于卡片内容 */
}
